test/
dotnet_runtime/
sdk_build/

sd_files/mono/framework_net9.0/
sd_files/mono/lib_net9.0/
sd_files/switch/

*.log
*.aotdata
*.dll
*.exe
*.nacp
*.elf
*.nro
*.lst
*.map
*.dat
*.zip
*.d
*.o
obj/
bin/

!native/aot/managed/guess_number.exe
native/aot/source/mono_symbols.h
